body {
	margin: 0;
	background-color:#FFF5F4;
	font-family: 'Quicksand';
	font-size: 20px;
	line-height: 32px;
}

/* splash page */
#hello {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 48px;
	padding-bottom: 1%;
	margin-top: 15%;
}

#bigname {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 100px;
}

#dd {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 48px;
	padding-top: 1%;
}



h2 {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 78px;
	text-align: center;
}
/* regular tag -> class -> id -> inline css */
h5 {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-style: normal;
	font-size: 48px;
}

h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-style: normal;
	font-size: 64px;
}

nav {
	font-family: 'Quicksand';
	background-color: #E4929C;
	color: white;
	font-size: 24px;
	padding: 1.5%;
}

p {
	font-family: 'Quicksand'
}

a {
	font-family: 'Quicksand';
	color: white;
	text-decoration: none;
}

/* .navbar {
	display: flex;
	flex-direction: row;

} */

/* body {
	margin: 0;
	background-color: #FFF5F4;
	font-family: Arial, Helvetica, sans-serif;
  } */
  
  #navbar {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 20px;
	display: block;
	
	
  }

  
  #navbar a {
	float: right;
	display: block;
	font-family: "Quicksand";
	color: #FFF5F4;
	text-align: center;
	padding: 24px;
	text-decoration: none;
	font-size: 24px;
	opacity: 100%;
  }
  #contact {
	margin-right:48px;
  }
  
  #navbar a:hover {
	background-color: lightpink;
	color: #4D4646;
  }

  #logo {
	float: left !important;
	padding-left: 48px !important;
  }

/* .logo {
	display: flex;
	align-items: right;
	padding-right: 80%;

} */

.splash {
	height: 100vh; 
	color: white; 
	display: flex;
	flex-direction: column; 
	background-color: #E4929C;
	padding-left: 5%; 
	padding-right: 10%; 
	background-image:url('images/Splash_Page.png');
	background-size: 1800px, 900px;
	
}

/* .nav-links {
	display: flex; 
	justify-content: flex-end;
	align-items: right;
} */

/* .nav-link{
	padding-left: 15%;
} */


.header {
	padding: 2%;
	background-color: #E4929C;
	margin: 0;
}

.preview-card {
	display: flex;
	margin: 5%;
	flex-direction: row;
	color: #4D4646
}

.image-holder {
	width: 70%;
}

.image-holder img {
	object-fit: contain;
	width: 100%; 
	height: auto; 
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.work-description {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding-left: 10%;
	max-width: 30%;
}

.work-description h3 {
	font-family: 'Playfair Display';
	color: #4D4646;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 64px;
}

.work-description p {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

.work-description button {
	font-family: 'Quicksand';
	font-size: 24px;
	color: white;
	border-radius: 40px;
	width: 60%;
	height: 10%;
	background-color: #EA7197;
	border: none;
}

.work-description button:hover {
	background-color: lightpink;
	color: black;
}


.foot {
	display: flex;
	flex-direction: row; 
	color: white;
	bottom: 0;
	background-color: #E4929C;
	padding: 2%;
}

.foot p {
	font-family: "Playfair Display";
}

.foot-text {
	text-align: center; 
	padding-right: 5%;
	padding-left: 5%;
	font-size: 24px;
	/* background-color: blue; */
}

.left-foot-icons {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	width: 40%;
	
	/* background-color: red; */
}

.left-foot-icons img {
	object-fit: contains; 
	width: 10%; 
	padding-left: 80%;
	vertical-align: middle;
	
}

.foot img:hover {
	cursor: pointer; 
}

.right-foot-icons {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	width: 40%;
	/* background-color: red; */
}

.right-foot-icons img {
	object-fit: contains; 
	width: 10%; 
	padding-left: 10%;
}

