body {
	margin: 0;
	background-color:#FFF5F4;
	font-family: 'Raleway';
	font-size: 1.25rem;
	line-height: 2rem;;
}

/* splash page */
#hello {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 3rem;
	padding-bottom: 1%;
	margin-top: 15%;
}

#bigname {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 6.25rem;
	margin-top:5%;
	/* line-height: 6.25rem; */
}

#dd {
	font-family: 'Playfair Display';
	color: #FFF5F4;
	font-style: normal;
	font-weight: 100;
	font-size: 3rem;
	padding-top: 1%;
}

.blurb {
	font-size: 1.875rem;
	margin-top:3%;
	margin-bottom: 5%;
}

.word {
	margin: auto;
	color: white;
	font: 700 normal 2.5em 'tahoma';
	text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }



h2 {
	font-family: 'Playfair Display';
	color: white;
	font-style: normal;
	font-weight: 300;
	font-size: 3rem;
	line-height: 5rem;
	text-align: center;
}
/* regular tag -> class -> id -> inline css */
h5 {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
}

h6 {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
}

nav {
	font-family: 'Raleway';
	background-color: #E4929C;
	color: white;
	font-size: 1.5rem;
	padding: 1.5%;
}

p {
	font-family: 'Raleway'
}

a {
	font-family: 'Raleway';
	color: white;
	text-decoration: none;
}

/* .navbar {
	display: flex;
	flex-direction: row;

} */

/* body {
	margin: 0;
	background-color: #FFF5F4;
	font-family: Arial, Helvetica, sans-serif;
  } */
  
  #navbar {
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	
	
  }

  
  .nav-right a {
	float: right;
	display: block;
	font-family: "Raleway";
	color: #FFF5F4;
	text-align: center;
	padding: 1.5rem;
	margin-top: 1.5rem;
	text-decoration: none;
	font-size: 1.5rem;
	opacity: 100%;
  }
  
  #contact {
	
	margin-right: 3rem;
  }
  
  .nav-right a:hover {
	/* background-color: lightpink; */
	text-decoration: underline;
	/* color:#4D4646; */
	
  }

  #logo {
	float: left !important;
	margin-left: 3% !important;
	margin-top: 1.125rem;
  }
  #logo-img {
	width: 7.5rem;
	height: auto;
 
  }


.splash {
	height: 53.125rem;
	color: white; 
	display: flex;
	flex-direction: column; 
	background-color: #FFF5F4;
	padding-left: 5%; 
	padding-right: 10%; 
	background-image:url('images/Splash_Page.png');
	background-size: 112.5rem, 56.25rem;
	
}

/* .nav-links {
	display: flex; 
	justify-content: flex-end;
	align-items: right;
} */

/* .nav-link{
	padding-left: 15%;
} */


.header {
	padding: 2%;
	background-color:#ec8092;
	margin: 0;
}

.preview-card {
	display: flex;
	margin: 5%;
	flex-direction: row;
	color: #4D4646;
}
.preview-card img:hover {
	cursor: pointer;
}

.image-holder {
	width: 60%;
}

.image-holder img {
	object-fit: contain;
	width: 90%; 
	height: auto; 
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.work-description {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding-left: 10%;
	max-width: 40%;
}

.work-description h3 {
	font-family: 'Playfair Display';
	color: #4D4646;
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 4rem;
}

.work-description p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.875rem;
}

.work-description button {
	font-family: 'Raleway';
	font-size: 1.5rem;
	border-radius: 6.25rem;
	width: 60%;
	height: 4.6875rem;
	border: none;
	background-color:  #ff8ea5;
	color: white;
}

.work-description button:hover {
	background-color:lightpink;
	color: #4D4646;
	cursor: pointer;
}


.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}


.foot {
	margin-top:5%;
	display: flex;
	flex-direction: row; 
	color: white;
	bottom: 0;
	background-color: #ed90a0;
	/* background-image: linear-gradient(to right, #ff7990, #fc7e93, #f98296, #f58799, #f28b9c, #f38f9b, #f4949a, #f49899, #f89f94, #faa790, #faaf8d, #f9b88c); */
	padding: 2%;
}

.foot p {
	font-family: "Playfair Display";
}

.foot-text {
	text-align: center; 
	padding-right: 5%;
	padding-left: 5%;
	font-size: 1.5rem;
	/* background-color: blue; */
}

.left-foot-icons {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	width: 40%;
	
	/* background-color: red; */
}

.left-foot-icons img {
	object-fit: contains; 
	width: 10%; 
	margin-left: 80%;
	vertical-align: middle;
	
}

.foot img:hover {
	cursor: pointer; 
}

.right-foot-icons {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	width: 40%;
}

.right-foot-icons img {
	object-fit: contains; 
	width: 10%; 
	margin-left: 10%;
	vertical-align: middle;
}

b {
	font-weight:700;
}
/* 
.container{
	display: inline-block;
  }
  .typed-out{
	overflow: hidden;
	border-right: .15em solid #FFF5F4;
	white-space: nowrap;
	animation: 
	typing 5s steps(100, end) forwards;
	font-size: 1.6rem;
	width: 1;
  }
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  } */

  #container {
	text-align: left;
}

#text {
	display: inline-block;
	/* vertical-align: middle; */
	color:#FFF5F4;
	letter-spacing: .125rem;
}

#cursor {
	display: inline-block;
	
	width: .1875rem;
	height: 1.875rem;
	background-color: #FFF5F4;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color:#FFF5F4; 
	}
}