.storyboard img{
	width: 100%;
	height: 95%;
	top: 50%;
  	left: 50%;
}

.personas img{
	
	width: 75%;
	height: 75%;
	top: 50%;
  	left: 50%;
	padding: 2%;
}

#error {
    font-family:'Raleway';
    font-weight: 600;
    font-size: 2rem;
    color:#7C294C !important;

}

.error-list{
    border: 0.5rem solid #7C294C;
    border-radius:2.5rem;
    background:#f6d2ce;
    overflow:hidden;
    margin-bottom: 5%;
}

.left-feature{
    display: flex;
    flex-direction: row;
	color: #4D4646;
    /* background-color: #f6d2ce; */
  
   
}

.right-feature {
    display: flex;
    flex-direction: row;
	color: #4D4646;
    background-color: #f6d2ce;
    /* background-image: linear-gradient(to right, #ffa4bd, #ffb3c3, #ffc3cb, #ffd2d5, #ffe1e1, #ffe0dd, #ffded9, #ffddd5, #ffccba, #ffbc9e, #ffad7f, #fe9f5f); */
}

.left-gif {
    float: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}

.right-gif {
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:15%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}

.right-img {
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left:5%;
    margin-right:10%;
   
}

.gas-img{
    border-radius:2.5rem;
	height:31.25rem;
	width: auto;
    margin-left:10%;
    margin-right:10%;
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.left-img {
    float: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
    margin-left:15%;
    
   
}

.log-img{
    border-radius:1.5rem;
	height:31.25rem;
	width: auto;
 
}


.left-feature-info{
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
}

.right-feature-info{
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15%;
}
    
.feature-head {
    font-family:'Playfair Display';
    font-size: 2.25rem;
   
}

.feature-des{
   
   font-size:1.25rem;
   padding-bottom: 5%;
   text-align:left;
}
.custom-indent {
    text-indent: -1.25rem; /* key property */
    margin-left: 1.25rem; /* key property */   
}
.big-indent {
    text-indent: -2.25rem; /* key property */
    margin-left: 2.25rem; /* key property */   
}

#evolve-img{
   
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(79, 79, 79, 0.25));
}
.image-space {
    padding-bottom:5%;
}

#proto-link{
    color:#b20a50 !important;
}


