.storyboard img{
	width: 100%;
	height: 95%;
	top: 50%;
  	left: 50%;
}

.personas img{
	
	width: 75%;
	height: 75%;
	top: 50%;
  	left: 50%;
	padding: 2%;
}

.left-feature{
    display: flex;
    flex-direction: row;
	color: #4D4646;
    background-color: aquamarine;
   
}

.right-feature {
    display: flex;
    flex-direction: row;
	color: #4D4646;
}

.left-gif {
    float: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
	border-radius:40px;
	height:500px;
	width: auto;
}

.right-gif {
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:15%;
	border-radius:40px;
	height:500px;
	width: auto;
}

.right-img {
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left:5%;
    margin-right:10%;
   
}

.gas-img{
    border-radius:40px;
	height:500px;
	width: auto;
    margin-left:15%;
    margin-right:10%;
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.left-img {
    float: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
    margin-left:10%;
    
   
}

.log-img{
    border-radius:40px;
	height:500px;
	width: auto;
 
}


.left-feature-info{
    float: right;
   
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
}

.right-feature-info{
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15%;
}
    
.feature-head {
    font-family:'Playfair Display';
    font-size: 36px;
    margin-top:0px;
}

.feature-des{
   
   font-size:20px;
   padding-bottom: 5%;
   text-align:left;
}
.custom-indent {
    text-indent: -20px; /* key property */
    margin-left: 20px; /* key property */   
}
.big-indent {
    text-indent: -36px; /* key property */
    margin-left: 36px; /* key property */   
}
