/* use for each of the UI/UX project subpages */

h1 {
	/* title of the page */
	font-family: 'Playfair Display';
	color: #4D4646;
	font-size: 64px; 
	text-align: center; 
	font-weight: normal;
	margin-top: 150px;
}

h3 {
	/* section titles */
	font-family: 'Playfair Display';
	color: #7C294C;
	font-size: 48px; 
	font-weight: normal;
	margin: 0;
	line-height: 64px 
}

ol {
	list-style-position: inside; 
	padding: 0; 
}

li {
	/* subsections */
	font-family: 'Playfair Display';
	color: #4D4646;
	font-size: 48px; 
	font-weight: normal;
	line-height: 64px;
	
}

.project-body {
	margin-left: 20%; 
	margin-right: 20%; 
}

.big-image{
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.big-image img{
	align-self: center;
	width: 80%; 
}

.img-des {
	color: #7C294C;
	font-size: 16px; 
	position: relative;
	padding-bottom: 2%;
	line-height: 24px;
}

.storyboard img{
	width: 95%;
	height: 95%;
	top: 50%;
  	left: 50%;
}

.personas img{
	
	width: 75%;
	height: 75%;
	top: 50%;
  	left: 50%;
	padding: 2%;
}
#center {  
	text-align: center;
	} 

	#navbar {
		position: absolute;
		top: 0;
		width: 100%;
		display: block;
		
		
	  }
	
 
	  #navbar a {
		float: right;
		display: block;
		font-family: "Quicksand";
		color: black;
		text-align: center;
		padding: 24px;
		text-decoration: none;
		font-size: 24px;
		opacity: 100%;
	  }
	  #contact {
		margin-right:48px;
	  }
	  
	  #navbar a:hover {
		background-color: lightpink;
		color: #4D4646;
	  }
	
	  #logo {
		float: left !important;
		padding-left: 48px !important;
	  }




/* .reg-image{

} */