/* use for each of the UI/UX project subpages */

h1 {
	/* title of the page */
	font-family: 'Playfair Display';
	color: #4D4646;
	font-size: 64px; 
	text-align: center; 
	font-weight: 100;
	margin-top: 150px;
}

h3 {
	/* section titles */
	font-family: 'Playfair Display';
	color: #4D4646;
	font-size: 40px; 
	font-weight: 100;
	margin: 0;
	line-height: 64px;
	padding-top: 5%;
}

ol {
	list-style-position: inside; 
	padding: 0; 
}

.subsection {
	/* subsections */
	font-family: 'Playfair Display';
	color:  #7C294C;
	font-size: 36px; 
	font-weight: 100px;
	line-height: 64px;
	
}

.project-body {
	margin-left: 20%; 
	margin-right: 20%; 
}

.big-image{
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.big-image img{
	align-self: center;
	width: 100%; 
}
.column {
	float: left;
	width: 33.33%;
	padding-top: 2%;
	padding-bottom: 5%;
  }
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
.img-des {
	color: #4D4646;
	font-size: 16px; 
	position: relative;
	padding-bottom: 2%;
	line-height: 24px;
}
.project-des {
	border: 0.3rem solid #EA7197;
	border-radius: 12px;
	background: rgb(249, 204, 211);
	margin-top:5%;
}

#des-header{
	font-size:24px;
	text-decoration:underline;
	text-decoration-color: #EA7197;
	
}

.team-info{
	font-size: 20px;
	font-style:italic;
	color:white;

}


#center {  
	text-align: center;
} 

.left {
	text-align: left;
}

 .nav-right a {
	color: #4D4646;
}
	  

.nav-right a:hover {
/* background-color: lightpink; */
text-decoration-color: #EA7197;
 }

.cki-images img{
	width: 100%;
	height: auto;
	padding-top: 2%;

}

.sketch img {
	width:49.5%;
	height:auto;

}

.final-images img{
	width: 80%;
	height: auto;
	padding-top: 2%;
	margin-left: 11%;
	margin-right:11%;
}

.findings {
	border:  1rem dotted #EA7197;
	outline-offset: 0.5rem;
	
}
.insight {
	padding-bottom:3%;
	padding-left:3%;
	padding-right: 3%;
	font-size: 36px;
	font-family: 'Quicksand';
	color: #4D4646;
	font-weight:100;
}

#problem-statement {
	padding-bottom:30px;
	padding-left:3%;
	padding-right: 3%;
	padding-top: 3%;
	font-size: 30px;
	font-family: 'Quicksand';
	color: #4D4646;
	font-weight: 100;
	line-height: 1.5;
}

#first {
	padding-top:3%;
}
#solution {
	font-family: 'Playfair Display';
	font-weight:100;
	font-size: 30px;
	color: #4D4646;
}
.bold {
	font-weight: 700;
	font-family: Quicksand;
}


.inline-block {
	display: inline-block;
 }
/* .reg-image{

} */